div{
    width: 350px;
    height: 125px;
    border: none;
    background-color: #212020;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

#p1{
    font-weight: bolder;
    color: white;
    position: absolute;
    top: 15px;
    left: 15px;
    display: block;
}

#p2{
    color: #828281;
    position: absolute;
    top: 40px;
    left: 15px;
}