div{
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 380px;
    height: 65px;
    justify-content: flex-start;
    align-items:flex-start;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);    
}


img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
    margin: 8px;
}

#twitter{
    color: rgba(0,0,0,0.5);
    width: 200px;
    height: 40px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 20px;
    vertical-align: middle;
    margin-right: 3px;
}

.tweet{
    background-color: #1A8CD8;
    color: white;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    width: 70px;
    height: 40px;
    cursor: pointer;
    vertical-align: middle;
}