#parentDiv{
    width: 400px;
    display: inline-block;
    padding: 20px;
}

#child{
    display: flex;
}

img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 30px;
}

span{
    font-weight: bolder;
}

p{
    margin-right: 50px;
    width: 50px;
    height: 50px;
    color: grey;
    padding: 10px;
}

button{
    background-color: #4093EE;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px;
    height: 30px;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    margin-top: 42px;
}
